@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-lato: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-pearl text-gray-900;
}
